*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: arial;
}
header ul{
  font-size: 15px;
}
#products{
  background-color: #99bbff;
  margin: 5.1%;
  margin-top: 6%;
  padding: 20px;
}
#products h1{
  font-weight: 700;
  text-align: center;
  padding: 2%;
  text-decoration: underline;
}
.row{
  max-width: 1200px;
  margin: auto;
  background-color: #f2f2f2;
  overflow: auto;
}
.column{
  margin: 5px;
  border: 1px solid #ccc;
  width: 390px;
  border-radius: 3px;
}
.column img{
  width: 100%;
  height: auto;
  border-radius: 3px;
}
.caption{
  padding: 15px;
  text-align: center;
}
#main-footer{
  /*margin: 3%;*/
  margin-top: 2%;
  margin-bottom: 1%;
  padding: 2%;
  text-align: center;
  font-size: 12px;
  color: slategrey;
  background-color: lightgrey;
}
#main-footer p{
  margin-bottom: -4px;

}
