*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: arial;
}
header ul{
	font-size: 15px;
}
#products{
	display: inline-block;
	background-color: #99bbff;
	margin: 3%;
	margin-top: 6%;
}
#products h1{
	font-weight: 700;
	text-align: center;
	padding: 2%;
	text-decoration: underline;
}
.column{
	margin: 5%;
	margin-top: 1%;
}
.column img {
	display: inline-flex;
  	vertical-align: middle;
  	max-height: 448px;
  	max-width: 30%;
  	border: 2px solid black;
  	border-radius: 4px;
  	padding: 4px;
  	margin: 1%;
}
#products .long{
	margin-left: 10%;
}
@media only screen and (max-width: 768px){
	#products .long{
	margin-left: 0%;
	}
	/*.column img{display: flex;}*/
}
#main-footer{
	/*margin: 3%;*/
	margin-top: 2%;
	margin-bottom: 1%;
	padding: 2%;
	text-align: center;
	font-size: 12px;
	color: slategrey;
	background-color: lightgrey;
}
#main-footer p{
	margin-bottom: -4px;

}