*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'B612', sans-serif;
}
header ul{
	font-size: 15px;
}
.myheader{
    margin-top: 6%;
    margin-bottom: 5%;
    background-image: url("../images/001.jpeg");
    color: ghostwhite;
    font-weight: 450;
    //max-width: 100%;
    background-size: 100%;
    background-repeat: no repeat;
}
#main-content{
	color: slategrey;
	margin-top: 5%;
	margin-bottom: 3%;
}
#main-footer{
	/*margin: 3%;*/
	margin-top: 2%;
	padding: 2%;
	text-align: center;
	font-size: 12px;
	color: slategrey;
	background-color: lightgrey;
}
#main-footer p{
	margin-bottom: -4px;

}
